* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 0;

    .img-bia {
        position: relative;

        img {
            width: 100%;
            height: 160px;
        }
    }

    .text-bia {
        position: absolute;
        width: 100%;

        h2 {
            color: #ffffff;
            font-size: 46px;
        }

        p {
            color: #ffffff;
            font-size: 16px;
        }

        div {
            width: 100%;
            text-align: center;
            justify-content: center;
            margin-top: 30px;
        }
    }

    .table {
        font-size: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 100px;

        table {
            width: 70%;

            tr {
                display: flex;
                justify-content: space-between;
                flex: 1;
                border-bottom: 1px solid rgb(171, 171, 171);

                div {
                    flex: 1;
                    position: relative;

                    td {
                        padding: 20px 50px;

                        p {
                            margin-top: 30px;
                            display: flex;
                            justify-content: center;

                            button {
                                width: 30px;
                                height: 30px;
                                border: none;
                            }

                            input {
                                width: 40px;
                                height: 30px;
                                border: none;
                                background-color: rgb(234, 234, 234);
                                text-align: center;

                            }
                        }

                        label {
                            position: absolute;
                            top: 35%;
                            left: 30%;
                        }
                    }
                }
            }
        }
    }

    .box {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .button_update {
            display: flex;
            width: 70%;
            justify-content: space-between;

            div {
                text-align: center;

                button {
                    padding: 14px 30px 12px;
                    color: #6f6f6f;
                    background: #f5f5f5;
                    border: none;
                    font-size: 14px;
                    font-family: "Cairo", sans-serif;
                }
            }
        }
    }

    .box-all1 {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .box1 {
            width: 70%;
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            // flex: 1;

            div {
                .title {
                    h1 {
                        text-align: left;
                    }
                }

                // display: flex;

                .Discount {
                    display: flex;

                    div {

                        justify-content: left;

                        input {
                            padding: 15px 25px;
                            // border: none;

                        }

                        button {
                            padding: 15px 32px 15px;
                            font-size: 12px;
                            letter-spacing: 4px;
                            background: #6f6f6f;
                            margin-left: 20px;
                            font-family: inherit;
                            border: none;
                            color: #ffffff;
                        }
                    }

                }


            }

            .right {
                width: 500px;
                font-size: 20px;
                text-align: left;
                background-color: #f5f5f5;
                padding: 30px;
                padding-top: 20px;
                // margin-top: 50px;
                margin-left: -30px;

                h1 {
                    font-size: 20px;
                    line-height: 50px;
                }

                table {
                    font-size: 18px;
                    line-height: 50px;
                    width: 100%;

                    tr {
                        display: flex;
                        justify-content: space-between;
                        // border-bottom: 1px solid rgb(198, 198, 198);

                    }
                }

                button {
                    text-align: center;
                    font-size: 14px;
                    padding: 10px 28px 10px;
                    background-color: #7fad39;
                    color: #ffffff;
                    border: none;
                    width: 100%;
                    margin-top: 20px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }
        }
    }
}