* {
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    height: 300px;
    margin-bottom: 70px;
    color: black;


    .card {
        position: relative;
        text-align: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        text-decoration: none;
        color: black;
        list-style: none;

        &:hover .icon-card div {
            display: block;
        }
    }

    .icon-card {
        width: 100%;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;

        div {
            display: none;
            z-index: 1;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 100px;

            &:hover {
                animation-name: pcrotate;
                animation-duration: 0.3s;

                @keyframes pcrotate {

                    /* Tạo animation với pcrotate là tên animation */
                    from {
                        /* Giá trị ban đầu sẽ là rotate(0deg) tức là k quay 1 góc nào cả */
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                        background-color: greenyellow;
                    }

                    to {
                        /* Giá trị đích là rotate(360deg) tức là quay 1 góc 360 độ */
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }
                }
            }

            // position: absolute;
        }

        .icon1 {
            z-index: 1;
            font-size: 20px;
            position: absolute;
            left: 25%;
            bottom: 20px;
            text-align: center;
            justify-content: center;
        }

        .icon2 {
            z-index: 1;
            font-size: 20px;
            position: absolute;
            left: 43%;
            bottom: 20px;
            text-align: center;
            justify-content: center;
        }

        .icon3 {
            z-index: 1;
            font-size: 20px;
            position: absolute;
            bottom: 20px;
            left: 63%;
            text-align: center;
            justify-content: center;
        }

        .icon {
            margin-top: 11px;
            // margin-left: 10px;
        }
    }

    .img_card {
        width: 258px;
        height: 270px;

        animation-name: example;
        animation-duration: 0.3s;
        // animation-delay: 0.4s;


        @keyframes example {
            from {
                margin-top: 10%;
            }

            to {
                margin-bottom: 0%;
            }
        }
    }

    .title {
        color: #b2b2b2;
        font-size: 14px;
        margin-bottom: 4px;
        display: block;

        text-decoration: none;
        list-style: none;

    }

    .name {
        color: #1c1c1c;
        line-height: 1.2;
        font-size: 18px;
        margin-bottom: 5px;

    }

    .Gia {
        font-size: 17px;

        span {
            font-size: 13px;
            color: #b2b2b2;
        }
    }
}