* {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 0;

    .img-bia {
        position: relative;
        img {
            width: 100%;
            height: 160px;
        }
    }
    .text-bia {
        position: absolute;
        width: 100%;
        h2 {
            color: #ffffff;
            font-size: 46px;
        }
        p {
            color: #ffffff;
            font-size: 16px;
        }
        div {
            width: 100%;
            text-align: center;
            justify-content: center;
            margin-top: 30px;
        }
    }
    .row {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 30% 70%;
        .fake-button {
            display: grid;
            grid-template-columns: 25% 25%;
            div {
                padding: 8px 0px 0px;
                // background-color: #f5f5f5;
                display: inline-block;
                input {
                    width: 80px;
                    height: 40px;
                    // background-color: #f5f5f5;
                    color: #6f6f6f;
                    border: 1px solid #f5f5f5;
                }
            }
        }
        .row-left {
            width: 100%;
            margin-left: 120px;
            h2 {
                color: #1c1c1c;
                font-weight: 700;
                margin-bottom: 25px;
                font-size: 23px;
            }
            ul li {
                font-size: 16px;
                line-height: 39px;
                display: block;
            }
            .ul-color {
                width: 100%;
                height: 100px;
                font-size: 16px;
                display: grid;
                grid-template-columns: 30% 30%;
                position: relative;
                margin-left: 20px;
            }
            .Price {
                margin-top: 40px;
                font-size: 24px;
                margin-bottom: 25px;
                #slider {
                    height: 4px;
                }
            }

            .range {
                width: 40%;
                height: 7px;
                font-size: 0.7em;
                display: block;
                background-color: red;
                .noUi-horizontal .noUi-handle {
                    width: 10px;
                    height: 10px;
                }
            }

            .text {
                color: red;
                font-size: 18px;
                margin: 0 10px;
            }
        }

        .row-right {
            margin-left: 0px;
            width: 85%;
            .test {
                display: grid;
                grid-template-columns: 10% 10% 60% 20%;
                font-size: 16px;
                text-align: center;
                margin-top: 30px;
                div {
                }
            }
            h2 {
                font-size: 36px;
                position: relative;
                margin-bottom: 80px;
                &:after {
                    position: absolute;
                    height: 4px;
                    width: 140px;
                    background: #7fad39;
                    content: '';
                    top: 55px;
                    left: 0;
                }
            }
            hr {
                margin-top: 70px;
                opacity: 0.3;
            }
            span {
                font-size: 16px;
                color: #6f6f6f;
            }

            .btn-slide {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 50px;
                margin-bottom: 60px;
                input {
                    width: 30px;
                    height: 30px;
                    margin-left: 30px;
                    border: 1px solid #b2b2b2;
                    color: #b2b2b2;
                }
            }
        }
    }
    .list-card {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 50px;
        grid-row-gap: 0px;
        margin-bottom: 0px;
    }
    .fake-color {
        width: '100px';
        height: '10px';
    }
}
