*{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    background-color: #F3F6FA;
    .box {
        padding-top: 70px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        margin-right: -15px;
        margin-left: -15px;
    }
    .box div{
        margin-left: 0px;
    }
    .row{
        color: #212529;
        font-size: 16px;
        line-height: 36px;
    }
    .row h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .footer__widget table tr td{
       width: 70%;
    }
    .footer__widget table tr td ul li {
        list-style: none;
    }

    .footer__widget table tr td ul li a {
        color: #1c1c1c;
        font-size: 14px;
        text-decoration: none;
        line-height: 32px;
        &:hover{
            color: #706f6f;
        }
    }

    .footer_right{
        color: #1c1c1c;
        position: relative;
    }
    .footer_right h6{
        font-size: 16px;
    }
    .footer_right p {
        font-size: 16px;
        margin-bottom: 30px;
        line-height: 26px;
        margin-top: 20px;
    }
    .footer_right input {
        border: 1px solid #ededed;
        width: 60%;
        height: 46px;
    }
    .footer_right button {
        width: 40%;
        height: 46px;
        position: relative;
        top: 3px;
        background-color: #7fad39;
        color: #ffffff;
        border: none;
    }
    .footer_right .icon {
        background-color: ffffff;
        transition: all, 0.3s;
        margin-top: 30px;
        position: relative;
        margin-left: -20px;
    }
    .footer_right .icon  i {
        font-size: 20px;
        text-align: center;
        height: 41px;
        width: 41px;
        border: 1px solid #ededed;
        color: #404040;
        background: #ffffff;
        border-radius: 100px;
        padding: 10px;
        margin-left: 20px;
        &:hover{
            background-color: #e5dbdb;
        }
    }
    hr{
        margin-top: 20px;
        opacity: 0.2;
    }

     .bottom {
        font-size: 15px;
        color: #6f6f6f;
        display: flex;
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }

    .bottom div img{
        // margin: 0 170px 0 0 ;
        margin-left: 300px;

    }  
}

//mobile
@media screen and (max-width: 420px) {
    .container {
        width: 100%;
        background-color: #F3F6FA;
        .box {
            padding-top: 40px;
            width: 90%;
            height: 100%;
            display: grid;
            grid-template-columns: 100%;
            margin-left: 25px;
        }
        .box div{
            margin-top: 20px;

        }
        .bottom {
            font-size: 15px;
            color: #6f6f6f;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            margin-top: 20px;
        }
    
        .bottom div img{
            // margin: 0 170px 0 0 ;
            margin-left: 0px;
    
        }  
    }
}

//tablet
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: 100%;
        background-color: #F3F6FA;
        .box {
            padding-top: 40px;
            width: 90%;
            height: 100%;
            display: grid;
            grid-template-columns: 50% 48%;
            margin-left: 25px;
        }
        .box .footer_right{
            width: 200%;
        }
        .box div{
            margin-top: 20px;

        }
        .bottom {
            font-size: 15px;
            color: #6f6f6f;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            margin-top: 20px;
        }
    
        .bottom div img{
            // margin: 0 170px 0 0 ;
            margin-left: 0px;
    
        }  
    }
}
